/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 sept. 2014, 14:14:32
    Author     : INTI0221
*/

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

header {
}

#menu > form > div {
    height: 45px;
}

#content {
    min-height: calc(100% - 145px);
    padding: 1em;
}

footer {
    height: 100px;
    padding: 2em;
    color:#f3f3f3;
    background-color: #262d33;
    border-top: 1px solid #21282d;
    border-bottom: 1px solid #333c45;
}

footer .nav>li>a {
    color: #6b7f91;
    font-size: .9em;
    transition: color .5s;
    text-decoration: none;
    height: 24px;
}

footer .nav>li>a:hover {
    color: #e0e4e8;
    background-color: transparent;
}

footer .nav-header {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #a5b2bd;
}
