<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <bean id ="clientController" class="fr.adaming.awal.controller.ClientController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.ClientDao"/>
        </property>
    </bean>
    <bean id="adminController" class="fr.adaming.awal.controller.AdminController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.AdminDao"/>
        </property>
    </bean>
    <bean id="deviceController" class="fr.adaming.awal.controller.DeviceController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.DeviceDao"/>
        </property>
    </bean>
    <bean id="deviceInsuranceController" class="fr.adaming.awal.controller.DeviceInsuranceController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.DeviceinsuranceDao"/>
        </property>
    </bean>
    <bean id="deviceRepairController" class="fr.adaming.awal.controller.DeviceRepairController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.DeviceRepairDao"/>
        </property>
    </bean>
    <bean id="firmController" class="fr.adaming.awal.controller.FirmController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.FirmDao"/>
        </property>
    </bean>
    <bean id="modelController" class="fr.adaming.awal.controller.ModelController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.ModelDao"/>
        </property>
    </bean>
    <bean id="modelPackageController" class="fr.adaming.awal.controller.ModelPackageController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.ModelPackageDao"/>
        </property>
    </bean>
    <bean id="repairerController" class="fr.adaming.awal.controller.RepairerController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.RepairerDao"/>
        </property>
    </bean>
    <bean id="resellerController" class="fr.adaming.awal.controller.ResellerController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.ResellerDao"/>
        </property>
    </bean>
    <bean id="userController" class="fr.adaming.awal.controller.UserController" lazy-init="true" >
        <property name="dao">
            <bean class="fr.adaming.awal.dao.UserDao"/>
        </property>
    </bean>
    <bean id="addressController" class="fr.adaming.awal.controller.AddressController">
        <property name="dao">
            <bean class="fr.adaming.awal.dao.AddressDao"/>
        </property>
    </bean>
</beans>